#dice-container {
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 1000px;
  margin: 4rem auto 0;

  .dice {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;

    figure {
      margin: 0;
      width: 200px;
      height: 200px;
      display: block;
      position: absolute;
      // border: 2px solid black;
      font-size: 100px;
      line-height: 200px;
      text-align: center;
      color: white;

      &.front-face  {
        transform: rotateY(   0deg ) translateZ( 100px );
        background-color: #f44336;
      }
      &.back-face   {
        transform: rotateX( 180deg ) translateZ( 100px );
        background-color: #3f51b5;
      }
      &.right-face  {
        transform: rotateY(  90deg ) translateZ( 100px );
        background-color: #4caf50;
      }
      &.left-face   {
        transform: rotateY( -90deg ) translateZ( 100px );
        background-color: #ff9800;
      }
      &.top-face    {
        transform: rotateX(  90deg ) translateZ( 100px );
        background-color: #795548;
      }
      &.bottom-face {
        transform: rotateX( -90deg ) translateZ( 100px );
        background-color: #9c27b0;
      }
    }

    transform: translateZ( -100px );
    transition: transform 0.5s;

    &.show-front  { transform: translateZ( -100px ) rotateY(    0deg ); }
    &.show-back   { transform: translateZ( -100px ) rotateX( -180deg ); }
    &.show-right  { transform: translateZ( -100px ) rotateY(  -90deg ); }
    &.show-left   { transform: translateZ( -100px ) rotateY(   90deg ); }
    &.show-top    { transform: translateZ( -100px ) rotateX(  -90deg ); }
    &.show-bottom { transform: translateZ( -100px ) rotateX(   90deg ); }
  }
}

.roll-dice {
  width: 10rem;
  display: block;
  margin: 4rem auto 0;
}
